/GithubProject/GithubProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GithubProject.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
